<!DOCTYPE html>
<html>
<head>
    <title>Buscador de Frases</title>
    <style>
        .centro{
            text-align: center
        }
    </style>
</head>
<body>
    
    <form method="POST" action="/pesquisa" class="centro">
        <label>Buscador de frases</label>
        <input type="text" name="termo"> 
        <button>Pesquisar</button>
    </form>

</body>
</html>